

@font-face {
        font-family: 'Inter-VariableFont_slnt,wght';
        src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    }

    .container{
        background-color:#1F1F1F;
        max-height: 600px; 
        max-width: 350px;      
        border-radius: 20px;
        height: 600px;
        width: 350px;
        /*width: 100%;*/
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        
    }
    body{
            background-color: #141414;
            margin: 0;
            padding: 0;
            display: flex; 
            justify-content: center; 
            align-items: center;  
            min-height: 100vh; 
        
    }
    .imgme{
        width: 200px; ;
        height: 200px;
        margin-top: 50px;
        margin-bottom: 1px;
        border-radius: 50%;
        object-fit:cover
    }
    .title {
        
        margin: 10px 0;
        font-size: 24px; 
        font-family:'Inter-VariableFont_slnt,wght';
        
  
    }
    #titulo{
        font-weight:500;
        text-shadow: 1px;
        color: white;
        margin-bottom: 8px;
    }
    #sub{
        color: rgba(255, 255, 0, 0.816);
        font-size: small;
        margin-top: 0px;
        font-weight:700;
    }
    #desc{
        color: rgba(255, 255, 255, 0.959);
        font-size: small;
        margin-top: 10px;
        font-weight: 300;
    }
    .social1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        height: 48px;
        width: 280px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
    } 
    .social2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        height: 48px;
        width: 280px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
    } 
    .social3{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        height: 48px;
        width: 280px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
    } 
    .social4{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        height: 48px;
        width: 280px;
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
    } 
    .links{
        display: inline-block;
        margin: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        font-family:'Inter-VariableFont_slnt,wght' ;
        font-weight:550;
        color: white;
        transition: color 0.3s ease;
    }
    .social1:hover, .social2:hover, .social3:hover, .social4:hover,
.social1:hover .links, .social2:hover .links, .social3:hover .links, .social4:hover .links {
    background-color: yellow;
    color: black;
    }
    
    /* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .links {
        font-size: 12px;
        padding: 8px 16px;
    }

    .imgme {
        width: 110px; 
        height: 1100px;
    }

    .title {
        font-size: 20px;
    }

    .social1, .social2, .social3, .social4 {
        width: 100%; 
        height: 40px; 
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 95%; 
        margin-top: 50px;
    }

    .imgme {
        width: 110px;
        height: 110px;
    }

    .title {
        font-size: 18px; 
    }

    .social1, .social2, .social3, .social4 {
        width: 100%;
        height: 35px; 
    }

    #desc, #sub {
        font-size: 12px;
    }
}